:root {
  --color-accent: #0b1118;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  background: #0b1118;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  top: -200px;
  width: 100%;
  padding: 1.5em 3em;
  background-color: var(--color-accent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

nav .nav-logo a {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: whitesmoke;
  font-weight: 900;
  text-decoration: none;
}

.menu ul.nav-items {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul.nav-items li a {
  color: white;
  font-size: 1.15rem;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}

.menu ul.nav-items li a:hover {
  color: lightsteelblue;
}

.user {
  display: flex;
  justify-content: flex-end;
  gap: 2em;
}

.user i {
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}

.user i:hover {
  color: lightsteelblue;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero img,
.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s ease-in;
}

.hero img {
  opacity: 0.4;
  z-index: 1;
  transform: scale(2);
}

.hero video {
  opacity: 0;
  z-index: 0;
}

.hero-copy {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 40%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust to truly center */
  text-align: left; /* Center text */
  color: whitesmoke;
  max-width: 90%;
  padding: 1em;
  z-index: 3;
}

/* Title */
.hero-copy h1 {
  font-size: 4rem; /* Adjust for responsiveness */
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1em; /* Space below title */
}

.hero-copy h1 .letter-span {
  position: relative;
  top: 100vw;
}

/* Movie Details */
.hero-copy .movie-details {
  opacity: 0;
  transition: opacity 1.5s ease-in;
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 400;
  margin-top: 1em;
}

.hero-copy .playing {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.hero-copy .description {
  font-size: 1rem;
  margin-top: 0.5em;
}


.book-tickets {
  margin-top: 2em;
  padding: 0.8em 1.5em;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  background-color: #0b1118;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

.book-tickets:hover {
  background-color: lightsteelblue;
  transition: 0.3s ease-in-out;
  color: black;
}

@media (max-width: 768px) {
  .hero-copy h1 {
    font-size: 2rem;
  }

  .hero-copy .movie-details {
    font-size: 1rem;
  }

  .hero-copy .playing {
    font-size: 1.2rem; 
  }

  .hero-copy .description {
    font-size: 0.9rem; 
  }
}
.slider-container {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.slider-container h2 {
  display: flex;
  color: #fff;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
  width: 100%;
  position: relative;
}

.slider-container h3 {
  color: grey;
  text-transform: capitalize;
  margin-bottom: 3rem;
  width: 100%;
  font-weight: 700;
}

.slider-content p{
  color: white;
}

.slider-container h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  right: 0;
  height: 0.5em;
  border-top: 3px solid rgb(255, 255, 255);
  z-index: -1;
}

.slider-content {
  text-align: left;
  max-width: 100%;
}

/* Movie Grid */
.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

.cards {
  width: calc(19% - 1rem);
  margin-bottom: 5rem;
}

.cards .card-img {
  height: 350px;
  overflow: hidden;
  border-radius: 0.5em;
}

.cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards:hover img {
  cursor: pointer;
  opacity: 0.3;
  transition: 0.3s ease-in-out;
}

.card-title h3 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1rem;
  text-transform: uppercase;
}


@media (max-width: 1024px) {
  .image-row {
    grid-template-columns: repeat(
      2,
      1fr
    );
  }
}

@media (max-width: 768px) {
  .image-row {
    grid-template-columns: 1fr;
  }

  .card-title h3 {
    font-size: 0.5rem;
  }
}



/* Locations */

.loc_bg {
  position: relative;
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.loc_bg img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  transition: .5s ease;
  background-color: black;
}

.loc_bg h2{
  color: lightsteelblue;
  opacity: 1;
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.cards2 {
  width: calc(25% - 1rem);
  margin-bottom: 5rem;
}

.cards2 .card-img {
  height: 150px;
  overflow: hidden;
  border-radius: 0.5em;
}

.cards2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards2:hover img {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

.cards2:hover .card-img{
height: 300px;
transition: 0.6s ease-in-out;
}

@media (max-width: 1024px) {
  .image-row {
    grid-template-columns: repeat(
      2,
      1fr
    );
  }
}

@media (max-width: 768px) {
  .image-row {
    grid-template-columns: 1fr;
  }

  .card-title h3 {
    font-size: 0.5rem;
  }
}

.card-title2 h3 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.card-title2 p {
  color: grey;
  font-size: 1rem;
  font-weight: 700;
}

.membership {
  background-color: lightsteelblue;
  padding: 40px;
  margin: 40px auto;
  max-width: 1300px;
}

.membership-content {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.membership-image {
  width: 300px;
  height: 200px;
  margin-right: 90px;
  border-radius: 10px;
}

.membership-text {
  max-width: 500px;
}

.membership-text h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #333;
}

.membership-text p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #555;
}

.join-now {
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

.join-now:hover {
  background-color: grey;
  transition: 0.4s ease-in-out;
  color: white;
  font-weight: 700;
}




/* Booking */
.booking-container {
  display: flex;
  max-width: 1200px;
  margin: 80px auto;
  padding: 20px;
}

.poster {
  padding-right: 40px;
}

.poster img {
  width: 300px;
  border-radius: 8px;
}

.movie-info {
  flex: 2;
  color: white;
}

.movie-info h1 {
  margin: 60px 0 60px;
  font-size: 4rem;
}

.movie-info p {
  margin: 5px 0 60px;
  line-height: 1.5;
  font-size: 19px;
}

.book-tickets2 {
  background: #28a745;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.book-tickets2:hover {
  background: #218838;
}

@media (max-width: 768px) {
  .booking-container {
      flex-direction: column;
      align-items: center;
  }

  .poster {
      padding: 0;
      margin-bottom: 20px;
  }
}
